@media (min-width: 768px) {
  #RowSize {
    margin-right: 10vh;
    margin-left: 10vh;
  }
}

@media (min-width: 768px) {
  #RowSize {
    margin-right: 10vh;
    margin-left: 10vh;
  }
}

#RowSize {
  margin-top: 5vh;
}

@media (max-width: 400px) {
  #HeadingCV {
    margin-top: 2vh;
    font-size: 14px;
  }
}

@media (max-width: 992px) and (min-width:401px) {
  #HeadingCV {
    margin-top: 2vh;
    font-size: 18px;
  }
}

@media (max-width: 1400px) and (min-width:991px) {
  #HeadingCV {
    margin-top: 3vh;
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  #detailCV {
    font-size: 9px;
  }
}

@media (max-width: 1400px) and (min-width:992px) {
  #detailCV {
    font-size: 18px;
    margin-top: 10vh;
  }
}

@media (max-width: 991px) and ( min-width:400px) {
  #detailCV {
    font-size: 12px;
    margin-top: 4vh;
  }
}

