@media (min-width: 768px) {
  #RowSize {
    margin-right: 10vh;
    margin-left: 10vh;
  }
}

@media (min-width: 768px) {
  #RowSize {
    margin-right: 10vh;
    margin-left: 10vh;
  }
}

#RowSize {
  margin-top: 5vh;
}

