#CVImage {
  width: 100%;
  margin-top: 3vh;
}

@media (min-width: 1200px) {
  #rowsize {
    margin-right: 20vh;
    margin-left: 20vh;
    margin-top: 5vh;
  }
}

@media (min-width: 300px) and ( max-width:991px) {
  #textsize {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  #textsize {
    font-size: 30px;
  }
}

