#hero {
  background: url("../../assets/img/Hero%20Image.jpg") center/ cover no-repeat, rgba(0,0,0,0);
  height: 100vh;
  width: 100%;
}

@media (max-width: 500px) {
  #hero {
    height: 65vh;
    margin-top: 10vh;
    background-blend-mode: initial;
    background: url("../../assets/img/Hero%20Image.jpg") center / cover no-repeat, rgba(0,0,0,0);
  }
}

@media (max-width: 1000px ) and ( min-width: 500px) {
  #hero {
    height: 85vh;
    margin-top: -10vh;
    background-blend-mode: initial;
    background: url("../../assets/img/Hero%20Image.jpg") center / cover no-repeat, rgba(0,0,0,0);
  }
}

@media ( min-width: 1000px) {
  #hero {
    height: 87vh;
    margin-top: 10vh;
    background-blend-mode: initial;
    background: url("../../assets/img/Hero%20Image.jpg") center / cover no-repeat, rgba(0,0,0,0);
  }
}

#Caption {
  margin-top: 60vh;
  opacity: 0.40;
  font-size: 12px;
}

@media (min-width: 500px) {
  #Caption {
    margin-top: 70vh;
    opacity: 0.40;
    font-size: 14px;
  }
}

