body {
  background-color: #151515;
  font-family: 'Lato';
  color: white;
  font-size: 18px;
}

.navbar {
  margin: 15px;
  padding: 0px;
}

#Brand-T2 {
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  line-height: 1.4;
}

@media (max-width: 400px) {
  #Brand-T2 {
    position: absolute;
    width: 140px;
  }
}

#OneRowImagesmall {
  margin-top: 40px;
  margin-left: 20vh;
  margin-right: 20vh;
}

@media (max-width: 600px) {
  #OneRowImagesmall {
    margin-top: 5px;
    margin-left: 0vh;
    margin-right: 0vh;
  }
}

@media (max-width: 575px) {
  #navcol-1 {
    margin-top: 5vh;
  }
}

#invert {
  color: #ffffff;
  border-color: #000000;
}

